:root{
    --font-family: font-family: 'ABeeZee', sans-serif;
    --font-family: font-family: 'Merienda', cursive;
}

header{
    background-color: rgba(255,255,255,1);
    z-index: 4;
    position: relative;
}

.navbar-nav{
    height: 100px;
    align-items: center;
    
}

.collapse{
    justify-content: space-between;
}

.navbar{
    padding: 0px !important;
}

.container-fluid{
    padding: 0px !important;
}
.navbar .container-fluid .collapse .navbar-nav img{
  position: relative;
  top: 40px;
}
.navbar-nav a {
    text-decoration: none;
    color: black;
    font-family:'Merienda', cursive;
    font-size: 18px;
    padding:20px 15px !important;
    font-weight: 900;
    letter-spacing:1;
  }
.navbar-nav a:hover {
    text-decoration: none;
    color:black; 
  }

  .active{
    color: #5fcac7 !important;
  }

  .box {
    background-image: url(./images/518280108.jpg);
    width: 100%;
    height: 674px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    --mask:
    radial-gradient(27.59px at 50% 39.00px,#000 99%,#0000 101%) calc(50% - 40px) 0/80px 100%,
    radial-gradient(27.59px at 50% -19px,#0000 99%,#000 101%) 50% 20px/80px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  }

  header .brand-area{
    display: flex;
    justify-content: center;
  }
  
  header .brand-area img{
    max-width: 185px !important;
    max-height: 185px !important;
    position: absolute;
  }

  .box img{
    max-width: 517px !important;
    max-height: 517px !important;
    top: 50px;
    right: 10px;
  }

  .welcome-area{
    position: relative;
    top: -35px;
    right: 25px;
}

  .welcome-area .welc-area-tittle{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
  }

  .welcome-area .welc-area-tittle img{
    max-width: 82.2px !important;
    max-height: 39.45px !important;
    position: absolute !important;
    height: 100%;
    width: 100%;
    top: 30%;
    right: 44%;
  }
  
  .welcome-area .welc-area-tittle h1{
    font-size: 47px !important;
    color: #4b4342;
    font-family: 'Leckerli One', cursive;
    width: 262px;
    height: 94px;
    position: absolute;
    top: 44%;
    text-align: center;
    margin: 0px;
  }

  .welcome-area .welc-area-tittle .p{
    position: relative;
    bottom: 130px;
    width: 241.14px;
    height: 38px;
    text-align: center;
  }

  .welcome-area .welc-area-tittle p{
    position: absolute;
    font-size: 13px;
    color: #4B4342;
    font-family: 'ABeeZee', sans-serif;
  }


.specialties-area{
  position: relative;
  max-width: 1522px;
  height: 766.6px;
  /* background-position: 50% -45px; */
  --mask:
  radial-gradient(27.59px at 50% 39.00px,#000 99%,#0000 101%) calc(50% - 40px) 0/80px 100%,
  radial-gradient(27.59px at 50% -19px,#0000 99%,#000 101%) 50% 20px/80px 100% repeat-x;
-webkit-mask: var(--mask);
        mask: var(--mask);
        margin-top: -30px;

}

.specialties-area::before {    
  content: ' ';
position: absolute;
z-index: -1;
inset: 0;
opacity: .1;
background-image: url(./images/547147222.jpg);
background-size: cover;
background-position: center;
}

  
  .cupcake-area{
    width: 1200px;
    height: 566.59px;
    padding: 30px 15px 0px;
    margin: auto;
  }

  .cupcake-area .logo-cupcake-area img{
    width: 221px !important;
    height: 41px;
    padding: 0px 20px;
    margin: 70px 474.5px 0px
  }

  .cupcake-area .tittle-cupcake-area h2{
    font-family: 'Merienda', cursive;
    font-size: 48px;
    color: #4b4342;
    max-width: 1170px !important;
    height: 57.59px;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
  }

  .cupcake-area .owl-cupcakes-area{
    width: 1170px !important;
    height: 373px !important;
    display: flex;
    justify-content: space-between;
  }

  .cupcake-area .owl-cupcakes-area .owl-cupcakes-data{
    max-width: 270px !important;
    height: 309px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cupcake-area .owl-cupcakes-area .shape {
    position: relative;
    width: 180px;
    height: 180px;
  }


  .cupcake-area .owl-cupcakes-area .shape svg{
    width: 180px;
    height: 180px;
    transition: 1s;
  }

  .cupcake-area .owl-cupcakes-area .shape svg:hover{
    fill:#5fcac7 !important;
  }

  .cupcake-area .owl-cupcakes-area .shape .cake-img img{
    width: 126px;
    height: 126px;
    position: absolute;
    top:0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
  }

  .cupcake-area .owl-cupcakes-area .owl-cupcake-tittle h3{
    max-width: 270px !important;
    height: 36px;
    font-size: 30px;
    font-family: 'Merienda', cursive;
    margin: 0px 0px 10px;
    color: #4b4342;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
  }


  .cupcake-area .owl-cupcakes-area .owl-cupcake-text p{
    max-width: 270px !important;
    color: #4B4342;
    font-size: 17px;
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
  }

  .discover-area {
    display: flex;
    position: relative;
    justify-content: center;
    /* background-image:url(./images/516360906.jpg); */
    /* background-color:transparent #43B79CCC; */
    background-color: #43B79ccc;
    max-width: 1520px;
    height: 720px;
    margin-top: -10px;
    --mask:
    radial-gradient(6.10px at 50% 8.50px,#000 99%,#0000 101%) calc(50% - 10px) 0/20px 51% repeat-x,
    radial-gradient(6.10px at 50% -3.5px,#0000 99%,#000 101%) 50% 5px/20px calc(51% - 5px) repeat-x,
    radial-gradient(6.10px at 50% calc(100% - 8.50px),#000 99%,#0000 101%) calc(50% - 10px) 100%/20px 51% repeat-x,
    radial-gradient(6.10px at 50% calc(100% + 3.50px),#0000 99%,#000 101%) 50% calc(100% - 5px)/20px calc(51% - 5px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  }

  .discover-area::before {    
    content: ' ';
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: .1;
  background-image: url(images/516360906.jpg);
  background-size: cover;
  background-position: center;
  }

  
  .discover-area .discover-area-box{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

  .discover-area .dis-logo-area .dis-shape{
    position: relative;
    display: flex;
    justify-content: center;

  }



  .discover-area .dis-logo-area .dis-shape .dis-img{
    position: absolute;
    top: 20px;
  }

  .discover-area .discover-area-box .dis-head-area h1{
    display: flex;
    justify-content: center;
    font-family: 'Merienda', cursive;
    font-weight: 600;
    margin-top: 30px;
  }

  .discover-area .discover-area-box .dis-p-area p{
    color: #ffffff;
    font-size: 17px;
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    margin-top: 50px;
  }

  .discover-area .dis-btn-area{
    margin-top: 50px;
  }

  .creation-area .creations .articles-area{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .creation-area .creations .articles-area article > figure > picture > img{
    width: 280px;
    height: 280px;
    border-radius: 10px !important;
  }

  .olala {
    background-image: url(./images/674906526.jpg);
    --mask:
    radial-gradient(13.99px at 50% 19.20px,#000 99%,#0000 101%) calc(50% - 24px) 0/48px 51% repeat-x,
    radial-gradient(13.99px at 50% -7.2px,#0000 99%,#000 101%) 50% 12px/48px calc(51% - 12px) repeat-x,
    radial-gradient(13.99px at 50% calc(100% - 19.20px),#000 99%,#0000 101%) calc(50% - 24px) 100%/48px 51% repeat-x,
    radial-gradient(13.99px at 50% calc(100% + 7.20px),#0000 99%,#000 101%) 50% calc(100% - 12px)/48px calc(51% - 12px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  }

  .know-us-better .us-svg svg{
    width: 126.88px;
    height: 126.88px;
  }

  .know-us-better .us-svg i{
    position: absolute;
    font-size: 50px;
    color: #ffffff;
  }

  .bellaria-service-data{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .know-us-better .us-svg{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.olala a .btn{
width: 270px;
height: 50px;
text-decoration: none !important;
color: #4B4342;
font-size: 26px;
font-family: 'Merienda', cursive;
display: flex;
}

.clients {
  background-color:rgb(255,145,164)
}

.price-area{
  max-width: 1200px;
  height: 941.66px;
  margin: 120px;
}

.price-area .article-donates{
  width: 1300px;
  height: 941.66px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.price-area .article-donates .donate-card{
  width: 300px;
  height: 717.29px;
  padding: 0px 15px;
  border: 5px solid steelblue;
  border-radius: 10px;
}

.donate-card{
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.donate-card img{
  position: absolute;
  top: -80px;
}

.donate-card h4{
  color: #4B4342;
  font-size: 27.88px;
  font-family: 'Merienda', cursive;
  padding: 10px 15px 57.625px;
}

.donate-card h2{
  font-size: 48px;
  color: #4B4342;
  font-family: 'Merienda', cursive;
}

.donate-card div{
  background-color:#ff91a4;
  margin: 20px 0px 0px;
  padding: 0px 25px;
  font-size: 14px;
  font-family: 'ABeeZee', sans-serif;
  border-radius: 15px;
  text-align: center;
}

.donate-card p{
  width: 222px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  font-family: 'ABeeZee', sans-serif;
  padding: 10px 0px;
  color: #4B4342;
}

.donate-card hr{
  width: 222px;
  border: 1px solid steelblue;
}